<div ng-app="noragamiAdverts" ng-controller="controlPage">
	<div class="under-loading" ng-show="!loaded"></div>
	<div id = "loading" class="loading" ng-show="!loaded"></div>
	<div id = "game" ng-show="loaded">
		<div id = "downPanelControl">
			<ul class = "panelButton">
				<li ng-click="setPage(0)" ng-class="{img: imgFlag==0}" title="Пополнить доску объявлений" class = "editting"></li>
				<li ng-click="setPage(1, false)" ng-class="{img: imgFlag==1}" title="Настройки" class = "addAdvent"></li>
				<li ng-click="setPage(2, false)" ng-class="{img: imgFlag==2}" title="Авторский состав" class = "avtor"></li>
				<li ng-click="setPage(3, false)" ng-class="{img: imgFlag==3}" title="Агитационный материал" class = "baner"></li>
			</ul>
		</div>
		
		<!--Разные выпадающие окна-->
		<div id="editting" title="Настройки">
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(1)"></button>
			<div class = "whitePanel">
				<p>Возможно, наша игра у Вас не запустилась, тогда Вам <a href = "http://get.webgl.org/">сюда</a>!
				Если же причина в другом, и вы в этом убеждены, тогда напишите разработчикам!</p><br/>
				<div id="slider-range-max"></div>
			</div>
			<button id = "buttonAddAdvent" class="v-t"  ng-click="closePage(1)"></button>
			<div class = "yato"></div>
		</div>

		<div id="addAdvent">
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(0)"></button>
			<form ng-submit="createAdvert()">
				<div class = "panelAddAdventFon">
						<img src = "<%= asset_path 'design/pen.png' %>"/><div class = "headAdvent"></div>
						<input id="file-input" style = "margin-top: 10px; line-height: 2;" class="tags" type="file" accept="image/*">
						<input id="new-avatar" ng-model="newAvatar" type="hidden">
						<input ng-model="newNickName" class="tags" placeholder = "Автор">
						<textarea ng-model="newText" class = "advent" placeholder = "Текст объявления..."></textarea>
				</div>
				<button id = "buttonAddAdvent" class="v-t"></button>
				<div class = "yato"></div>
				<div class = "error" ng-show="newAvatarError || newNickNameError || newTextError">
					{{getFirstError()}}
				</div>
			</form>
		</div>

		<script type="text/javascript">
			$(function() {
				var fileInput    = $('#file-input');
				var form         = $(fileInput.parents('form:first'));
				var submitButton = form.find('#buttonAddAdvent');
				var progressBar  = $("<div class='bar'>Выберите аватар 100x100 не более 1Мб</div>");
				var barContainer = $("<div class='progress'></div>").append(progressBar);
				var submitAction;
				fileInput.before(barContainer);

				fileInput.fileupload({
					fileInput:       fileInput,
					url:             '<%= @s3_direct_post.url %>',
					type:            'POST',
					autoUpload:       false,
					formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
					paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
					dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
					replaceFileInput: false,
					add: function(e, data) {
						var files = data.files;

						var result = true;
						for (var i = 0, f; f = files[i]; i++) {
							if(f.size > 1048576 || !f.type.match("image")) {
								result = false;
							}
						}
						if(result) {
							data.submit();
						} else {
							submitButton.prop('disabled', false);
							progressBar.
							css('background', 'red').
							css('display', 'block').
							css('width', '100%').
							text("Ошибка");
						}
					},
					progressall: function (e, data) {
						var progress = parseInt(data.loaded / data.total * 100, 10);
						progressBar.css('width', progress + '%')
					},
					start: function (e) {
						submitButton.prop('disabled', true);
						progressBar.
						css('background', 'green').
						css('display', 'block').
						css('width', '0%').
						text("Загрузка...");
					},
					done: function(e, data) {
						submitButton.prop('disabled', false);
						progressBar.text("Готово!");

						// extract key and generate URL from response
						var key   = $(data.jqXHR.responseXML).find("Key").text();
						var url   = '//<%= @s3_direct_post.url.host %>/' + key;

						$('#new-avatar').val(url);
					},
					fail: function(e, data) {
						submitButton.prop('disabled', false);

						progressBar.
						css("background", "red").
						text("Ошибка");
					}
				});
			});
		</script>

		<div id="avtor" title="Про авторов">
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(2)"></button>
			<div class = "whitePanel">
				<p style = "padding: 80px 30px 0px 45px;">Сайт разработан специально для летней Фандомной битвы 2014 на dairy.ru командой <a href = "http://fk-2014.diary.ru/?tag=5108852">Noragami</a>.</p>
				<p style = "padding: 20px 30px 0px 45px;">Полный авторский состав будет представлен после деанона.</p>
			</div>
			<button id = "buttonAddAdvent" class="v-t"  ng-click="closePage(2)"></button>
			<div class = "yato"></div>
		</div>
		
		<div id="baner" title="Агитационный материал"> 
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(3)"></button>
			<div class = "whitePanel">
				<img src = "<%= asset_path 'design/bannerComand.png' %>"/>
				<img style = "width: 61.5%;" src = "<%= asset_path 'design/funyTen.png' %>"/>
				<textarea class = "textarea2"><a href = "http://fk-2014.diary.ru/?tag=5108852"><img src = "https://www.dropbox.com/s/zppv676zdcpdye8/BANNER_KOMANDY.png?dl=1"/></a></textarea>
				<textarea class = "textarea1"><a href = "http://noragami-adverts.herokuapp.com/"><img src = "https://www.dropbox.com/s/yw5gqy9h417x2rz/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80%20%D0%B8%D0%B3%D1%80%D1%8B%20%D0%B4%D0%B5%D1%81%D1%8F%D1%82%D0%BA%D0%B0.png?dl=1"/></a></textarea><br/>
			</div>
			<button id = "buttonAddAdvent" class="v-t"  ng-click="closePage(3)"></button>
			<div class = "yato"></div>
		</div>
		
		<div id="showAdvent" title="Объявление №"> 
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(4)"></button>
			<div class = "whitePanel">
				<img ng-show="advertAvatar" ng-src="{{advertAvatar}}" style="width: 100px; height: 100px;"/>
				<span class = "textAdvert">{{advertText}}</span>
			</div>
			<button id = "buttonAddAdvent" class="v-t"  ng-click="closePage(4)"></button>
			<div class = "yato"></div>
			<div class = "error nickName">{{advertNickName}}</div>
		</div>

		<div id="rules" title="Правила"> 
			<button id = "buttonCansel" class="v-t opacity07 opacityNo" ng-click="closePage(5)"></button>
			<div class = "whitePanel">
				<p>Заполните доску заказов для Яточки!</p>
				<p>Наш бедный Бог копит на храм, но заказов не хватает.</p>
				<p>Чтобы заказ попал на доску тыкните на карандаш <span class='pan'></span></p>
				<p class="withYato">На досках можно прочесть 10 последних заказов.</p>
			</div>
			<button id = "buttonAddAdvent" class="v-t"  ng-click="closePage(5)"></button>
			<div class = "yato"></div>
		</div>
	</div>
</div>